*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Container {
    min-width: 100px;
    min-height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    
}

.Header {
    min-width: 100%;
    height: 150px;
    background: rgb(254, 254, 255);
    margin-bottom: 10px;
    border: 4px solid rgb(59, 78, 120);
    border-radius: 20px;

}

.Content {
    background: rgb(255, 255, 255);
    height:100%;
    width: 1150px;
    margin-right: 15px;
    margin-bottom: 25px;

}
.Sidebar{
    background: rgb(255, 255, 255);
    border: 4px solid rgb(59, 78, 120);
    border-radius: 20px;
    height: 900px;
    width: 600px;
    align-content: flex-start;
    margin-left: 0%;
}


.logo{
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 60px;
}

.menu{
    margin-left: 5px;
    margin-bottom: 50px;
    list-style: none;
    width: 900px;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

}

nav ul{
    display: flex;
    list-style: none;
    width: 65%;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
body{
    background-color: rgb(232, 232, 232);
}
h1{
    margin: 20px;
    font-size: 40px;
}

h2{
    margin-left: 40px;
    font-size: 30px;
}
.materi-konten{
    font-size: 28px;
    margin: 20px;
}

.konten-sidebar{
    font-size: 28px;
    margin: 20px;
}

.konten-sidebar ul{
    list-style: none;
}
.konten-sidebar ul li{
    padding-bottom: 20px;
}
.konten-sidebar ul li a{
    text-decoration: none;
    color: rgb(97, 97, 97);
    padding-bottom: 20px;
}

@media screen and (max-width: 768px){
    nav .logo{
        width: 60%;
    }
    nav ul {
        width: 80%;
    }
    .Content .gambar .gambar2{
        width: 100%;
    } 
    .Sidebar{
        width: 1200px;
    }
}

@media screen and (max-width: 400px){
    nav ul .Content .gambar2 {
        width: 80%;
}

}
